#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 16px;
  height: calc(100% - 4rem);
}
.main-layout {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

input, select, button {
  font-size: 16px;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.form-item {
  display: flex;
  gap: 8px;

  margin: 12px;
}
.form-item label {
  white-space: nowrap;
}

.sub-label {
  font-size: 14px;
  color: #999;
}

.logo {
  height: 16px;
}

.footer {
  margin-top: 40px;

  display: flex;
  justify-content: center;
  gap: 16px;
}

.countDownText {
  font-size: 32px;
  font-weight: 500;
  margin-block-end: 16px;
  text-align: center;
}

.navbar {
  display: flex;
  gap: 8px;
}

.main-content {
  margin-block-start: 24px;
  border-block-start: 1px solid #383838;
  padding-block-start: 24px;
}

.quick-options {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
